
/* Estilo de css */
/* Tabela de Cores principais:*/
/* @import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');

#cores{
color: #0D0D0D;
color: #BFBFBD;
color: #4BBF7D;
color: #41A664;
color: #2C7345;
color: #04270c;
}
.navbar{
background-color:#2C7345 ;
}
.page-footer{
    background-color:#BFBFBD;
}
.navbar-brand{
    color: white;
    font-family: 'Playfair Display', serif;
    /* font-family: 'Nanum Myeongjo', serif; */
}

