
/* Estilo de css */
/* Tabela de Cores principais:*/

#cores{
color: #0D0D0D;
color: #BFBFBD;
color: #41A664;
color: #2C7345;
color: #4BBF7D ;
}
.navbar{
background-color:#4BBF7D ;
}
.page-footer{
    background-color:#BFBFBD;
}